<div class="container my-5 ">
  <div class="text-center mb-5">
    <p class="fw-semibold fs-5">Forgot your password?</p>
    <p>
      Enter your email address and we'll send you a link to reset your password
    </p>
  </div>

  <div *ngIf="errorMsg" class="main-form alert alert-danger w-50 mx-auto">
    {{ errorMsg }}
  </div>
  <div *ngIf="successMsg" class="main-form alert alert-success w-50 mx-auto">
    {{successMsg}}
  </div>

  <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword(forgotForm)" class="main-form w-50 mx-auto">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      class="form-control mb-2"
    />
    <div
      *ngIf="
        forgotForm.get('email')?.errors &&
        (forgotForm.get('email')?.touched || notValidForm)
      "
      class="alert alert-danger"
    >
      <p *ngIf="forgotForm.get('email')?.getError('required')">
        Email is required
      </p>
      <p *ngIf="forgotForm.get('email')?.getError('email')">Email is invalid</p>
    </div>

    <button type="submit" class="d-block btn bg-main text-white ms-auto">
      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!loading">Submit Email</span>
    </button>
  </form>
</div>
