<div class="product px-2 py-4 mb-2 position-relative">
  <button 
    (click)="addToWishlist(product.id)"
    class="heart-icon btn border-0 position-absolute cursor-pointer" >
    <i class=" fa fa-heart fa-2x"></i>
  </button>

  <a [routerLink]="['/productdetails', product.id]">
    <img [src]="product.imageCover" class="img-fluid" alt="product" />
    <span
      class="best-seller badge fw-normal p-2 bg-main position-absolute"
      *ngIf="getbestseller(product.sold)"
      >best seller</span
    >

    <p class="text-main text-center">{{ product.category.name }}</p>
    <h2 class="title h6 text-center">
      {{ product.title.split(" ").slice(0, 10).join(" ") }}
    </h2>
    <div class="rating text-center mb-3">
      <i class="fa fa-star rating-color"></i>
      <span>{{ product.ratingsAverage }}</span>
    </div>
    <div class="price mb-2">
      <div
        *ngIf="product?.priceAfterDiscount; else test"
        class="d-flex justify-content-between align-items"
      >
        <span class="text-decoration-line-through text-muted"
          >{{ product.price }} EGP</span
        >
        <span class="text-danger fw-semibold"
          >{{ product.priceAfterDiscount }} EGP</span
        >
      </div>
      <ng-template #test>
        <div class="text-center">
          <span>{{ product.price }} EGP</span>
        </div>
      </ng-template>
    </div>
  </a>
  <button
    class="btn bg-main w-100 text-white"
    (click)="addProductToCart(product.id)"
  >
    +Add To Cart
  </button>
</div>
