<div class="container my-5 w-50 ">
  <div class="text-center mb-5">
    <p class="fw-semibold fs-5 mb-3">Update your Password</p>
  </div>

  <div *ngIf="errorMsg" class="main-form alert alert-danger w-50 mx-auto">{{ errorMsg }}</div>

  <form class="main-form w-50 mx-auto"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPassword(resetPasswordForm)"
  >
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      class="form-control mb-3"
      formControlName="email"
    />
    <div
      *ngIf="
        resetPasswordForm.get('email')?.errors &&
        (resetPasswordForm.get('email')?.touched || notValidForm)
      "
      class="alert alert-danger"
    >
      <p *ngIf="resetPasswordForm.get('email')?.getError('required')">
        Email is requires
      </p>
      <p *ngIf="resetPasswordForm.get('email')?.getError('email')">
        Email is invalid
      </p>
    </div>

    <label for="newpassword">New Password:</label>
    <div class="position-relative">
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        id="newpassword"
        class="form-control mb-3"
        formControlName="newPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide" 
        class="position-absolute top-0 end-0"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      </div>


    <div
      *ngIf="
        resetPasswordForm.get('newPassword')?.errors &&
        (resetPasswordForm.get('newPassword')?.touched || notValidForm)
      "
      class="alert alert-danger"
    >
      <p *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">
        password is required
      </p>
      <p *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">
        invalid..password should have at least 6 char.. uppercase , lowerCase and numbers      </p>
    </div>

    <button type="submit" class="btn bg-main text-white d-block ms-auto">
      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!loading">send</span>
     </button>
  </form>
</div>
