<section class="bg-main-light py-5 mt-5">
  <div class="container">
    <h3 class="fw-bold fs-5 m-0">Get the Go Market App</h3>
    <p>we will send you a link,open it on your phone to download the app</p>
    <div class="d-flex align-items-center mb-5">
      <input type="text" placeholder="Email" class="form-control w-50" />
      <button class="btn main-btn btn-sm ms-2">Share App Link</button>
    </div>
    <hr class="text-muted mb-5">
    
    <div class="d-flex justify-content-between flex-wrap">
      <div class="payment">
        <span class="me-3 fs-6">Payment Partners</span>
        <i class="fa-brands fa-cc-paypal me-2"></i>
        <i class="fa-brands fa-cc-mastercard me-2"></i>
        <i class="fa-brands fa-cc-amazon-pay me-2"></i>
      </div>

      <div>
        <span class="me-3 fs-6">Visit us at  </span>
        <i class="fab me-2 fa-instagram"></i>
        <i class="fab me-2 fa-facebook"></i>
        <i class="fab me-2 fa-twitter"></i>
        <i class="fab me-2 fa-linkedin"></i>
      </div>
    </div>
  </div>
</section>
