<div class="main-form w-50 mx-auto ">
  <h5 class="fs-5 fw-bold">Security :</h5>
  <p class="mb-5">change your password</p>

  <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
  <div *ngIf="successMsg">
    <p class="alert alert-success">
      <i class="fa-solid fa-check me-2"></i> Your password is changed
    </p>
    <p class="alert alert-danger">
      Account will be logged out... Please sign in again
    </p>
  </div>

  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="changePassword(changePasswordForm)"
  >
    <label for="password">current Password:</label>
    <div class="position-relative">
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        class="form-control mb-4"
        id="password"
        formControlName="currentPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        class="position-absolute top-0 end-0"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </div>

    <div
      *ngIf="
        changePasswordForm.get('currentPassword')?.errors &&
        (changePasswordForm.get('currentPassword')?.touched || notValidForm)
      "
      class="alert alert-danger"
    >
      <p
        *ngIf="changePasswordForm.get('currentPassword')?.getError('required')"
      >
        current Password is required
      </p>
      <p *ngIf="changePasswordForm.get('currentPassword')?.getError('pattern')">
        invalid..password should have at least 6 char.. uppercase , lowerCase
        and numbers
      </p>
    </div>

    <label for="password">Password:</label>
    <div class="position-relative">
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        class="form-control mb-4"
        id="password"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        class="position-absolute top-0 end-0"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </div>

    <div
      *ngIf="
        changePasswordForm.get('password')?.errors &&
        (changePasswordForm.get('password')?.touched || notValidForm)
      "
      class="alert alert-danger"
    >
      <p *ngIf="changePasswordForm.get('password')?.getError('required')">
        password is required
      </p>
      <p *ngIf="changePasswordForm.get('password')?.getError('pattern')">
        invalid..password should have at least 6 char.. uppercase , lowerCase
        and numbers
      </p>
    </div>

    <label for="rePassword"> RePassword:</label>
    <div class="position-relative">
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        class="form-control mb-4"
        id="rePassword"
        formControlName="rePassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        class="position-absolute top-0 end-0"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </div>

    <div
      *ngIf="
        changePasswordForm.get('rePassword')?.errors &&
        (changePasswordForm.get('rePassword')?.touched || notValidForm)
      "
      class="alert alert-danger"
    >
      <p *ngIf="changePasswordForm.get('rePassword')?.getError('required')">
        rePassword is required
      </p>
      <p *ngIf="changePasswordForm.get('rePassword')?.getError('pattern')">
        rePassword is invalid
      </p>
      <p
        *ngIf="
          changePasswordForm.get('rePassword')?.getError('repasswordNotMatch')
        "
      >
        repassword is not match password
      </p>
    </div>

    <button type="submit" class="btn bg-main text-white d-block ms-auto">
      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!loading">Update</span>
    </button>
  </form>
</div>
